<!--<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(uri)" width="700" height="750">Loading...</iframe>-->

<md-card>
    <md-card-actions fxLayout fxLayoutAlign="center center">

        <button md-button *ngIf="billService.bill.done" (click)="billService.createPdf()">Ausdrucken</button>
        <button md-button *ngIf="!billService.bill.done" (click)="appComponent.modal(optionsInputPopup())">Ausdrucken und Abschließen</button>



    </md-card-actions>

    <md-card-content>
        <div>
            <br>
            <span id="letterNormal">
{{billService.bill.vendor?.name}} <br>
Fahrzeugüberführung <br>
{{billService.bill.vendor?.street}} <br>
{{billService.bill.vendor?.city}} <br>
</span>

            <br>
            <div id="letterHead">
                {{billService.bill.vendor?.name}}, {{billService.bill.vendor?.street}}, {{billService.bill.vendor?.city}}
            </div>
            <br>
            <table width="80%" id="letterNormal">
                <tr>
                    <td width="70%">
                        Firma
                    </td>
                    <td width="15%" style="text-align: left">
                        Datum:
                    </td>
                    <td width="15%" style="text-align: right">
                        {{billService.bill.billDate | date:'dd.MM.yyyy'}}
                    </td>
                </tr>
                <tr>
                    <td width="70%">
                        {{billService.bill.customer?.name}}
                    </td>
                    <td width="15%" style="text-align: left">
                        Rechnungsnummer:
                    </td>
                    <td width="15%" style="text-align: right">
                        {{billService.bill.reNr}}
                    </td>
                </tr>
                <tr *ngIf="billService.bill.customer.additive !== undefined">
                    <td>
                        {{billService.bill.customer.additive}}<br>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{billService.bill.customer?.address.street}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{billService.bill.customer?.address.zip}} {{billService.bill.customer?.address.city}}
                    </td>
                </tr>

            </table>

            <br>
            <br>

            <table width="80%" style="font-size: 12px">
                <tr style="border-bottom: solid 1px black">
                    <td width="10%">Datum</td>
                    <td width="24%">Strecke</td>
                    <td width="24%">Abgabeort</td>
                    <td width="15%">Typ</td>
                    <td width="15%">Fahrgestellnr.</td>
                    <td width="16%" style="text-align: right">Betrag</td>
                </tr>
                <br>
                <tr *ngFor="let journey of billService.bill.journeys" id="table">
                    <td>{{journey.date | date:'dd.MM.yy'}}</td>
                    <td>{{journey.start}}</td>
                    <td>{{journey.end}}</td>
                    <td>{{journey.type}}</td>
                    <td>{{journey.number}}</td>
                    <td style="text-align: right">{{journey.amount | twoDigits}} €</td>
                </tr>
                <br>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right">Zwischensumme</td>
                    <td></td>
                    <td style="text-align: right">{{this.billService.totalAmountNettoString}} €</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right">Steuersatz</td>
                    <td></td>
                    <td style="text-align: right">19%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right">Umsatzsteuer</td>
                    <td></td>
                    <td style="text-align: right">{{this.billService.taxAmount}} €</td>
                </tr>
                <br>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right">Gesamt</td>
                    <td></td>
                    <td style="text-align: right">{{this.billService.totalAmountBrutto}} €</td>
                </tr>
            </table>
            <br>
            <br>

            <div id="letterNormal">
                Bitte überweisen Sie den Gesamtbetrag in Höhe von {{this.billService.totalAmountBrutto}} € auf das unten angegebene Konto. <br> IBAN: DE75 6629 1300 0010 2235 12 BIC: GENODE61ACH <br> SteuerNr: 36140/51209
                <br>
                <br> Mit freundlichen Grüßen
                <br>
                <br> {{billService.bill.vendor?.name}}
            </div>

        </div>
    </md-card-content>

</md-card>