<md-toolbar class="toolbar">
    Rechnungstool <br>
    <button md-button class="button" (click)="billService.previewBill()">Ansicht</button>
    <button md-button class="button" (click)="billService.showActualBill()">Aktuelle Rechnung</button>
    <button md-button class="button" (click)="billService.showBills()">Alte Rechnungen</button>

</md-toolbar>

<div id="leftContainer" *ngIf="authService.loggedIn">
    <app-journey-table *ngIf="!billService.showBillsArray"></app-journey-table>
    <app-bills-table *ngIf="billService.showBillsArray"></app-bills-table>
</div>

<div *ngIf="!authService.loggedIn">
    <app-login></app-login>
</div>




<div id="rightContainer">
    <router-outlet></router-outlet>
</div>

<popup #inputPopup style="text-align: center" (confirmClick)="confirmPopUp()">
    <app-input-popup></app-input-popup>
</popup>

<popup #deletePopup style="text-align: center" (confirmClick)="confirmDelete()" (cancelClick)="cancelJourneyDelete()">
    <app-confirm-delete></app-confirm-delete>
</popup>

<popup #delCustomerPopup style="text-align: center" (confirmClick)="confirmDeleteCustomer()">
    <app-confirm-delete></app-confirm-delete>
</popup>



<!--
<md-list>
  <h3 md-subheader>Rechnungen</h3>
  <md-list-item *ngFor="let bill of billService.bills">
    <md-icon md-list-avatar (click)="billChooser(bill.doc)">folder</md-icon>
    <h4 md-line (click)="billChooser(bill.doc)">{{bill.doc._id | date:'dd.MM.yy'}}</h4>
    <br> <button md-raised-button (click)="billService.deleteBill(bill.doc)">Entfernen</button>

  </md-list-item>

</md-list>-->