<md-toolbar class="toolbar">
  Rechnungstool
  <md-toolbar-row>
    <button (click)="clearDatabase()">Lösche Datenbank</button>
  </md-toolbar-row>
</md-toolbar>

<div id="leftContainer">
  <app-journey-table></app-journey-table>
</div>
<div id="rightContainer">
  <router-outlet></router-outlet>
  </div>
<!--
<md-list>
  <h3 md-subheader>Rechnungen</h3>
  <md-list-item *ngFor="let bill of billService.bills">
    <md-icon md-list-avatar (click)="billChooser(bill.doc)">folder</md-icon>
    <h4 md-line (click)="billChooser(bill.doc)">{{bill.doc._id | date:'dd.MM.yy'}}</h4>
    <br> <button md-raised-button (click)="billService.deleteBill(bill.doc)">Entfernen</button>

  </md-list-item>

</md-list>-->