<!--<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(uri)" width="700" height="750">Loading...</iframe>-->

<md-card>
  <md-card-actions fxLayout fxLayoutAlign="center center">
    <button md-button *ngIf="spesenService.journeys.length > 0 && spesenService.journeys.length < 16" (click)="createPdf(spesenService.journeys)">Ausdrucken</button>
  </md-card-actions>

  <md-card-content>
    <div
            *ngIf="spesenService.journeys.length > 15"
            style="background: red; color: white"
    >
      Sie haben zu viele Reisewege. Erlaubt sind maximal 15. Sie haben {{spesenService.journeys.length}}
    </div>

      <div style="font-size: 21px; display: inline-block;">
        Reisekostenabrechnung
      </div>
      <div style="display: inline-block; padding-left: 100px">
        {{spesenService.journeys[0]?.date | date:'dd.MM.yy'}} bis {{spesenService.journeys[spesenService.journeys.length - 1]?.date | date:'dd.MM.yy'}}
      </div>
      <div style="margin-top: 20px">
        Name: Dieter Hartmann
      </div>
      <div>
        Anschrift: Waldmattstr. 101, 77815 Bühl
      </div>
      <table width="100%" style="font-size: 11px; margin-top: 50px">
        <thead>
        <tr style="border-bottom: solid 1px black; margin-bottom: 5px;">
          <th width="10%">Datum</th>
          <th width="15%">Reise</th>
          <th width="24%">Reiseweg</th>
          <th width="10%">Std</th>
          <th width="15%">Beleg</th>
          <th width="16%" style="text-align: right">Summe</th>
        </tr>
        </thead>
        <tbody >
          <ng-container *ngFor="let journey of spesenService.journeys">
            <tr class="table" style="padding-top: 10px">
              <td rowspan="2">{{journey.date | date:'dd.MM.yy'}}</td>
              <td style="text-align: center">{{journey.uhrzeit_von}} Uhr</td>
              <td>{{journey.start}}</td>
              <td rowspan="2" style="text-align: center">{{journey.uhrzeit_bis - journey.uhrzeit_von}}</td>
              <td rowspan="2">{{journey.billNr}}</td>
              <td rowspan="2" style="text-align: right">{{journey.spesen_betrag}} €</td>
            </tr>
            <tr>
              <td style="text-align: center">{{journey.uhrzeit_bis}} Uhr</td>
              <td>{{journey.end}}</td>
            </tr>
          </ng-container>


        <br>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align: right">Gesamtsumme</td>
          <td style="text-align: right">{{spesenService.getSum()}} €</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align: right; padding-top: 30px">Aus- / Rückzahlung</td>
          <td style="text-align: right; padding-top: 30px">{{spesenService.getSum()}} €</td>
        </tr>
        </tbody>
      </table>
      <br>
      <br>
  </md-card-content>
</md-card>