.letterHead{
    font-size: 10px;
    text-decoration-line: underline;
}
.letterNormal{
    font-size: 12px;
}

.table{
    font-size: 11px;
    padding-bottom: 10px;
}
.letterBox{
    padding-left: 20px;
}
