/* You can add global styles to this file, and also import other style files */
#leftEingabe {
  float: left;
  width: 33%;
  margin-left: 10px;
}

#rightEingabe {
  float: right;
  width: 62%;
  margin-right: 10px;
}